APP_CONFIG__DB__URL=postgresql+asyncpg://admin1:1122@localhost:5432/tdb
APP_CONFIG__DB__ECHO=1
APP_CONFIG__default_superuser_creds__NAME=root
APP_CONFIG__default_superuser_creds__PASSWORD=sdp2025

APP_CONFIG__RUN__PROTOCOL=http
APP_CONFIG__RUN__HOST=127.0.0.1
APP_CONFIG__RUN__PORT=8011
APP_CONFIG__RUN__RELOAD=1

